@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
/* fuente licorice nosotros */

*{
    padding: 0;
    margin: 0; 
}

/* principio de index */
.navbar-brand img{
    height: 90px;
    width: auto;
}
.jumbotron{
    background-image: url(img/pyra.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 0;
}
h1{
    color: black;
    text-shadow: 0 0 5px #333;
    font-size: 45px;
}
.jumbotron{
    font-size: 20px;
    text-shadow: 0 0 3px black;
    color: rgba(238, 238, 232, 0.904);
    border-radius: 0;
    padding: 0;
}
h2{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    font-family: 'Licorice', cursive;
    font-size: 45px
}
.n-left{
    height: 500px;
    background-color: cadetblue;
    border: 2px solid black;
    color: blanchedalmond;
}
.n-right{
    height: 500px;
    background-color: cornflowerblue;

}
.n-right img{
    padding-top: 40px;
    padding-left: 20px;
    object-fit: contain;
    max-height: 450px;
}

/* final de index */

/* principio carousel */
.carousel-inner {
    background-color:rgb(61, 61, 61);
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
    padding-top: 50px;
    padding-bottom: 50px;
    object-fit: contain;
}
/* fin carousel */

